.slide {
  background-image: url('pictures/logo.png');
  background-repeat: no-repeat;
  background-position: 90% 90%;
  background-size: 20%;
}

#cover {
  background-image: None;
}

#cover::after {
  content: unset;
}

#cover h2 {
  width: 60%;
  margin:30px auto 0 auto;
  color:#00a18a;
  background-color: rgb(150, 38, 143);
  text-align:center;
  font-size:70px;
}

#cover p {
  width: 30%;
  margin:1% 46% 0;
  text-align:center;
  color: rgb(150, 38, 143);
  background-color:#00a18a;
  font-style:italic;
  font-size:20px;
}

#cover img {
  opacity: 0.9;
}
